{% extends 'bourse/base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <form class="card card-sm">
            <div class="card-body row no-gutters align-items-center">
                <div class="col">
                    <input type="search" placeholder="Entrez le nom de l'entreprise rechercher" name="item-name" class="form-control form-control-borderless">
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-success">Recherche</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row">
    {% for entreprise in entreprises.all %}
    <div class="col-md-3">
        <div class="card">
            <div class="card-img-top">
                {% if entreprise.image %}
                    <img src="{{ entreprise.image.url }}" alt="" class="img-fluid">
                {% else %}
                    <h3>No image</h3>
                {% endif %}
            </div>
            <div class="card-body">
                <div id="id{{ entreprise.id_entreprise }}" class="card-title">{{ entreprise.nom }}</div>
                <div id="nom{{ entreprise.nom }}" style="color:orange" class="card-text">{{ entreprise.symbole_boursier }}</div>
                {% if user.is_authenticated %}
                <a href="{{ entreprise.id_entreprise }}" class="btn btn-warning">Voir</a>
                {% else %}
              
                          <a class="btn btn-info" href="#contenuModal" data-bs-toggle="modal" data-bs-target="#contenuModal">voir</a>
                        
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<!-- Modal -->
<div class="modal fade" id="contenuModal" tabindex="-1" role="dialog" aria-labelledby="contenuModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Connectez-vous ou créez un compte</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="lead text-xs-center">
                  <a class="btn btn-success" href="{% url 'user:ajout_utilisateur' %}">Créer un compte</a>
                  ou
                  <a class="btn btn-success" href="{% url 'user:login' %}">Connexion</a>
                </div>
              </div>
            </div> 
  </div>
</div>
{% endblock content %}
